<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ECS</title>
    <style>
        * {
            padding: 0;
            margin: 0;
        }
        body{
            font-family: sans-serif;
            background-color: #333333;
        }

        canvas {
            background: #eee;
            display: block;
            margin: 0 auto;
            box-shadow: 0px 0px 10px 10px grey;
            /* width:'100%'; */
        }
        #can{
            /* width: ; */
            border-radius: 20px;

        }
        .text-center{
            text-align: center;
        }
        .text-white{
            color:white;
        }
        .space-20  {
            width: 100%;
            height: 20px;
        }
        input[type=text]{
            border-radius: 20px;
            font-size: 1.3em;
            padding: 10px;
        }
        .btn{
            border-radius: 20px;
            height: 50px;
            padding: 10px;
            background-color: green;
            color: white;
        }
    </style>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <div class="space-20"></div>
    <!-- <div class="space-20"></div> -->
    <div class="space-20"></div>
    <div class="text-center text-white">
        <h2 class="text-center">Enter your name and start the game.</h2>
        <div class="space-20"></div>
        <input type="text" placeholder="Name" id="name">
        <button id="start" class="btn">Start Game</button>
        <br>
        <div class="space-20"></div>
        <h3>Score 50 points first to win.</h3>
    </div>
    <div class="space-20"></div>
    <div class="space-20"></div>
    <canvas id="can" width="700" height="500"></canvas>
    <div id="scoreboard" class="text-white">

    </div>
    <script>

        window.ECS = {
            Components: {},
            systems: {},
            entities: [],
            
            Input: {},
        }
        
        ECS.$canvas = document.getElementById('can');
        ECS.context = ECS.$canvas.getContext('2d');

        let socket = io();

        socket.on('update', (data) => {
            ECS.entities = data;
        })

    </script>
    
    <script src="/static/scripts/Entity.js"></script>
    <script src="/static/scripts/Components.js"></script>
    <script src="/static/scripts/systems/gravity.js"></script>
    <script src="/static/scripts/systems/userInput.js"></script>
    <script src="/static/scripts/systems/randomMovement.js"></script>
    <script src="/static/scripts/systems/score.js"></script>
    <script src="/static/scripts/systems/render.js"></script>
    <script src="/static/scripts/game.js"></script>
</body>
</html>