<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ECS</title>
    <style>
        * {
            padding: 0;
            margin: 0;
        }

        canvas {
            background: #eee;
            display: block;
            margin: 0 auto;
        }
    </style>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <canvas id="can" width="480" height="360"></canvas>
    
    <script>

        window.ECS = {
            Components: {},
            systems: {},
            entities: [],
            
            Input: {},
        }
        
        ECS.$canvas = document.getElementById('can');
        ECS.context = ECS.$canvas.getContext('2d');

        let socket = io();
        socket.emit('join', {name: 'Jyothis'});


        socket.on('update', (data) => {
            ECS.entities = data;
        })

    </script>
    
    <script src="/static/scripts/Entity.js"></script>
    <script src="/static/scripts/Components.js"></script>
    <script src="/static/scripts/systems/gravity.js"></script>
    <script src="/static/scripts/systems/userInput.js"></script>
    <script src="/static/scripts/systems/randomMovement.js"></script>
    <script src="/static/scripts/systems/render.js"></script>
    <script src="/static/scripts/game.js"></script>
</body>
</html>